<style>
    .d-flex a {
        text-decoration: none;
        color: black;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Digi Pharma</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {%if user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
                </li>
                {%if user.is_seller or user.is_customer%}
                <li class="nav-item">
                    <a class="nav-link" href="{%url  'medicine'%}" tabindex="-1" aria-disabled="true">Medicine</a>
                </li>
                <!--  -->
                {%elif user.is_superuser%}
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'sellerRegistration'%}" tabindex="-1" aria-disabled="true">Seller's</a>
                </li>
                {%endif%}
                <!--  -->
                {%else%}
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'mylogin'%}" tabindex="-1" aria-disabled="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myregistration' %}" tabindex="-1" aria-disabled="true">Registration</a>
                </li>
                {%endif%}
            </ul>
            {%if user.is_authenticated%}
            <div class="d-flex">
                {%if user.is_customer%}
                <a class="nav-link" href="{%url 'cart'%}" tabindex="-1" aria-disabled="true"><i class="bi bi-cart">({{order.get_cart_item}})</i></a>
                <!--  -->
                {%endif%}
                <a class="nav-link" href="{%url 'mylogout'%}" tabindex="-1" aria-disabled="true">Logout</a>
            </div>
            {%endif%}
        </div>
    </div>
</nav>